<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="/css/style.css"
      rel="stylesheet"
      type="text/css"
      title="Style style"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Test Page</title>
  </head>
  <body>
    <header>
      <div id="header">
        <div id="logo"><a href="/">PINPLACE</a></div>
        <div id="navbar" class="vert-middle">
          <ul class="navbar-entry">
            <li class="button"><a href="/redirect/predict">Find Place</a></li>
            <li class="button"><a href="/redirect/p">Hotplace List</a></li>
            <li class="button"><a href="/redirect/u">Upload</a></li>
            <li class="button">SNS</li>
            <li class="button active"><a href="/redirect/my">My Page</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div id="content">
      <div id="title">
        <div class="vert-middle"><p id="title-text">My Page</p></div>
      </div>
      <div id="profile-photo">
        <img src="<%= uimage %>" />
      </div>
      <div id="mypage-name">
        <div class="vert-middle full">
          <p id="username-text"><%= uname %></p>
        </div>
      </div>
      <div id="other-photos">
        <% imagePaths.forEach((path) => { %>
        <img src="<%= path %>" />
        <% }) %>
      </div>
    </div>
  </body>
</html>
