body {
	background: #dde8ff;
}

#content {
	background: #cce0ff;
}

#signup-info {
	display: grid;
	background: #bbd0ee;
}

#signup-info > * {
	margin: 4px;
}

.signup-info-id-label {
	grid-column: 1;
	grid-row: 1;
}

.signup-info-id {
	grid-column: 2;
	grid-row: 1;
}

.signup-info-name-label {
	grid-column: 1;
	grid-row: 2;
}

.signup-info-name {
	grid-column: 2;
	grid-row: 2;
}

.signup-info-password-label {
	grid-column: 1;
	grid-row: 3;
}

.signup-info-password {
	grid-column: 2;
	grid-row: 3;
}

.signup-info-pwagain-label {
	grid-column: 1;
	grid-row: 4;
}

.signup-info-pwagain {
	grid-column: 2;
	grid-row: 4;
}

.signup-button {
	grid-column: 1 / 3;
	grid-row: 5;
}
